.mainContainer1 {
    background-image: url('https://images.unsplash.com/photo-1615719413546-198b25453f85?q=80&w=3136&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    height: 100dvh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -20px;
    opacity: 0.9;
}
.nameContainer {
    color: blue;
    font-size: x-large;
    position: absolute;
    top:50%;
    left:42%;
    margin:-50px 0 0 -50px;


}
