.navBar{
    background-color: yellow;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    
}
.inputButton{
  top:0;
  right: 0;
  position: absolute;
  
}
.inputButton-signup{
    top:0;
    right: 100px;
    position:absolute;

}

